:root {
	--highlight-color: #ff6719;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

main {
	width: 100%;
}

body {
	overflow-x: clip;
	font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 18px;
	line-height: 30px;
	background-color: white;
	color: black;
	word-wrap: break-word;
	overflow-wrap: break-word;
	transition-property: all;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s;
	max-width: 65ch;
	flex-direction: column;
	margin: auto;
	display: flex;
	padding: 0 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	opacity: 0.75;
}

.back {
	opacity: 0.8;
	color: var(--highlight-color);
	transition: ease 300ms all;
	cursor: pointer;
	width: max-content;
}

.back:hover {
	opacity: 1;
}

p>a {
	border-bottom: 1px solid;
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.section__title {
	font-size: 2.2rem;
	gap: 0.3rem;
	font-weight: 800;
	display: flex;
	align-items: center;
}

.section__title::before {
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 0.2rem;
	background-color: var(--highlight-color);
}


@media screen and (max-width: 480px) {
	section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.section__title {
		font-size: 2.2rem;
		gap: 0.3rem;
		font-weight: 800;
		display: flex;
		align-items: center;
	}

	.section__title::before {
		content: "";
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 0.2rem;
		background-color: var(--highlight-color);
	}
}
