:root {
	--padding-x-lg: 1rem;
	--highlight-color: #ff6719;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

main {
	width: 100%;
}

body {
	overflow-x: clip;
	color: #f5f5f5;
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 19px;
	line-height: 29px;
	background-color: #212121;
	word-wrap: break-word;
	overflow-wrap: break-word;
	transition-property: all;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s;
	max-width: 48rem;
	flex-direction: column;
	margin: auto;
	display: flex;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	filter: brightness(80%);
}

.back {
	opacity: 0.8;
	color: var(--highlight-color);
	transition: ease 300ms all;
	cursor: pointer;
	width: max-content;
}

.back:hover {
	opacity: 1;
}

p>a {
	border-bottom: 1px solid;
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.section__title {
	font-size: 2.2rem;
	gap: 0.3rem;
	font-weight: 800;
	display: flex;
	align-items: center;
}

.section__title::before {
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 0.2rem;
	background-color: var(--highlight-color);
}

@media screen and (max-width: 1024px) {
	:root {
		--padding-x-lg: 8rem;
	}
}

@media screen and (max-width: 960px) {
	:root {
		--padding-x-lg: 4rem;
	}
}

@media screen and (max-width: 480px) {
	section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.section__title {
		font-size: 2.2rem;
		gap: 0.3rem;
		font-weight: 800;
		display: flex;
		align-items: center;
	}

	.section__title::before {
		content: "";
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 0.2rem;
		background-color: var(--highlight-color);
	}

	:root {
		--padding-x-lg: 1rem;
	}
}
