main {
  padding: 1.5rem var(--padding-x-lg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro_section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project_container {
  display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.project {
  display: flex;
	flex-direction: column;
  gap: 0.375rem;
	align-items: baseline;
}

.project_title {
  color: rgb(245, 245, 245);
  font-weight: 500;
	display: flex;
	gap: 0.4rem;
	align-items: center;
	text-decoration: underline;
}

.project_title:hover {
	color: #fca311;
	transition: ease all 300ms;
}

.project_arrow {
	font-size: 1rem;
}

.project p {
  font-weight: 300;
  font-size: 0.9rem;
  width: 100%;
	opacity: 0.75;
}

.project_tags {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
}

.project_tags span {
	background-color: #1a1a1a;
	font-weight: 400;
  filter: brightness(130%);
	padding: 0 0.95rem;
	font-size: .8rem;
	opacity: .6;
	color: white;
	border-radius: 2rem;
	box-shadow: 0 1 2px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.project_tags span:hover {
  filter: brightness(100%);
}
