main {
	padding: 1.5rem var(--padding-x-lg);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.intro_section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project_container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.project {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	align-items: baseline;
}

.project_title {
	color: rgb(245, 245, 245);
	font-weight: 500;
	font-size: 1.2rem;
	display: flex;
	gap: 0.4rem;
	align-items: center;
	border-bottom: 1px solid;
}

.project_arrow {
	font-size: .8rem;
	opacity: .9;
}

.project p {
	font-size: 1rem;
	width: 100%;
	opacity: .9;
}

.project_tags {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.project_tags span {
	font-weight: 400;
	font-size: .8rem;
	opacity: .6;
	color: white;
	width: max-content;
}

.project_tags span:hover {
	filter: brightness(90%);
}
