---
import MainLayout from "../layout/main-layout.astro"
import Nav from "../components/Nav.astro"
import Back from "../components/Back.astro"
---

<MainLayout title="404" description="Page not found" >
  <Nav />
	<main>
		<Back text="Back" url="/"></Back>
		<div class="notfound">
			<h1>404</h1>
			<p>uhm... this page doesn't exist</p>
		</div>
	</main>
</MainLayout>

<style>
	.notfound {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
		flex-direction: column;
	}

	.notfound h1 {
		font-size: 128px;
		font-weight: 900;
		line-height: 198px;
		color: white
	}

	.notfound p {
		opacity: 0.7;
	}

	main {
		height: calc(98vh - 10rem);
		padding: 2rem var(--padding-x-lg);
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
</style>
