---
import { Icon } from "astro-icon/components";
import MainLayout from "../layout/main-layout.astro";
import "../styles/index.css";
import Nav from "../components/Nav.astro";
import Header from '../components/Header.astro';
import { ProjectsData } from "../data/projects";
---

<MainLayout title="Tonie" description="Tonie - Software Developer">
  <Nav />
	<Header />
  <main>
    <section class="intro_section">
			<!-- Todo -->
			<p>
				Hi! My name is <b>Tonie Victor</b>. I'm a sofwtare developer with a primary interest in infrastructure, networking and system level software. 
				Hi! My name is I'm a sofwtare developer with a primary interest in infrastructure,Hi! My name is I'm a sofwtare developer with a primary inte
				Hi! My name is I'm a sofwtare developer with.
				<br>
				<br>
				networking and system level software. 
				Hi! My name is <b>Tonie Victor</b>. I'm a sofwtare developer with a primary interest in 
				infrastructure, networking and system level software. 
				<br>
				<br>
				Hi! My name is <b>Tonie Victor</b>. I'm a sofwtare developer with a primary interest in infrastructure, networking and system level software.
			</p>
    </section>

    <section id="projects">
      <h2 class="section__title">Projects</h2>
      <p>
        Here are some of the projects I've (or still?) worked on.
      </p>

      <div class="project_container">
				{ProjectsData.map((project) => (
					<div class="project" >
							<a target="_blank" href={project.link} class="project_title">{project.title} <Icon name="mdi:arrow-top-right-thin"/></a>
							<p>{project.overview}</p>
							<div class="project_tags">
								{project.tags.map((tag) => <span>{tag}</span>)}
							</div>
					</div>
				))}
	  </div>

    </section>
  </main>
</MainLayout>
