---
const { text, url } = Astro.props;
---
<a 
	class="back"
	href={url}
>
	&#x2039; {text}
</a>

<style>
	.back {
		opacity: 0.8;
		color: #fca311;
		transition: ease 300ms all;
	}

	.back:hover {
		opacity: 1;
	}
</style>
