footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem var(--padding-x-lg) 1rem;
  font-size: 0.9rem;
}

footer span  {
  opacity: 0.5;
  line-height: 150%;
}

footer a {
  opacity: 0.5;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}
