footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem var(--padding-x-lg) 1rem;
  font-size: 0.9rem;
}

footer span {
  opacity: 0.5;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(252, 163, 17, 0.8);
  opacity: 1 !important;
  color: white;
  /* font-weight: 700; */
  line-height: 150%;
  font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
  footer a {
    line-height: 150%;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    gap: 0rem;
  }
}
