---
import { Icon } from "astro-icon/components";
import "./footer.css"

---

<footer>
	<span>&#169; Tonie.</span>
	<a href="https://www.buymeacoffee.com/tonievictor" target="_blank">Coffee ☕</a>
</footer>
