---
import { Icon } from "astro-icon/components";
import "./header.css"
---
<header>
	<div class="nav__container">
	<div class="menu__btn" id="nav_btn">
		<Icon name="mdi:chevron-down" data-target="nav-icon" />
		<span>MENU</span>
	</div>

	<div class="nav__menu hidden" id="nav_menu">
		<a href="/" class="nav_link">~/home</a>
		<a href="/blog" class="nav_link">~/blog</a>
		<a href="https://www.twitch.tv/tonievictor" target="_blank" class="nav_link">~/live</a>
	</div>
	</div>
</header>

<script>
	const nav_btn = document.getElementById("nav_btn");
	const nav_menu = document.getElementById("nav_menu");

	nav_btn.addEventListener("click", () => {
		nav_menu.classList.toggle("hidden");
	})

</script>
