---
import { Icon } from "astro-icon/components";
import "./nav.css"
---

<nav>
	<!-- logo -->
	<div class="logo__img" >
		<img src="/images/profile.jpeg" alt="" loading="lazy">
	</div>

	<!-- socials -->
	<div class="nav__socials">
		<a href="https://github.com/tonie-ng" target="_blank" class="social_link">
			<Icon name="mdi:github"/>
		</a>
		<a href="https://twitter.com/Tonie_NG" target="_blank" class="social_link">
			<Icon name="mdi:twitter"/>
		</a>
		<a href="mailto:toniedevng@gmail.com" class="social_link">
			<Icon name="mdi:email"/>
		</a>
	</div>
</nav>