nav {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-between;
	padding: 1rem var(--padding-x-lg);
	position: sticky;
	top: 0;
	max-width: 48rem;
	background-color: #1a1a1a;
	border-bottom: 1px solid #e5e5e520;
	z-index: 1;
}

.logo__img {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1.8px solid #ffffff;
}

.logo__img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: contain;
}

.nav__socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.social_link {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social_link:hover {
	color: #fca311;
}

@media screen and (max-width: 480px) {
	.logo__img {
		width: 2rem;
		height: 2rem;
		display: flex;
	}

	nav {
		padding: 0.75rem var(--padding-x-lg);
	}

	.social_link {
		font-size: 1.3rem;
	}
}
