---
import { Icon } from "astro-icon/components";
import "./nav.css"
---

<nav>
	<!-- logo -->
	<div class="logo__img" >
		<img src="/images/profile.jpeg" alt="" loading="lazy">
	</div>

	<!-- socials -->
	<div class="nav__socials">
		<a href="https://github.com/tonie-ng" target="_blank">
			<Icon name="mdi:github" class="social_link"/>
		</a>

		<a href="https://twitter.com/tonie_ng" target="_blank">
			<Icon name="mdi:twitter" class="social_link"/>
		</a>

		<a href="mailto:toniedevng@gmail.com" target="_blank">
			<Icon name="mdi:email" class="social_link"/>
		</a>
	</div>
</nav>
