---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import SeoHead from "./seo-head.astro";

type Props = {
	title: string,
	description: string,
	image? : string,
	keywords? : string,
	showfooter?: string,
}
let { title, description, image, keywords, showfooter} =  Astro.props as Props;
if (!showfooter) showfooter = "true";
if (!keywords) keywords = "tonie, victor, developer, software, engineer, nwanochi, chisom, python, c, typescript, golang, nodejs, gleam, rust, backend";
console.log(keywords)
---

<html lang="en">
	<head>
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<SeoHead title={title} description={description} image={image} keywords={keywords}/>
	</head>
	<body>
		<slot />
		{showfooter == "true" && <Footer />}
	</body>
</html>
