---
import './main-layout.css';
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import SeoHead from "./seo-head.astro";

import { ViewTransitions } from 'astro:transitions';


const { title, description, image = "/images/projectsample.png"} =  Astro.props;
let keywords = "tonie, victor, developer, software, engineer, nwanochi, chisom, python, c, typescript, golang, nodejs, gleam";

---

<html lang="en">
	<head>
		<SeoHead title={title} description={description} image={image} keywords={keywords}/>
		<ViewTransitions />
	</head>
	<>
		<slot />
		<Footer />
	</body>
</html>
