---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import SeoHead from "./seo-head.astro";

type Props = {
	title: string,
	description: string,
	image? : string,
	tags? : string,
	showfooter?: string,
}
let { title, description, image, tags, showfooter} =  Astro.props as Props;
if (!showfooter) showfooter = "true";
if (!tags) tags = "tonie, victor, developer, software, engineer, nwanochi, chisom, python, c, typescript, golang, nodejs, gleam";
---

<html lang="en">
	<head>
		<SeoHead title={title} description={description} image={image} keywords={tags}/>
	</head>
	<body>
		<slot />
		{showfooter == "true" && <Footer />}
	</body>
</html>
